<h1>Profile Page for User</h1>

<h2>Welcome <%= @user.first_name %></h2>
<p>These are all the projects you've backed up</p>
  <ul>
    <% @user.backed_projects.each do |project| %>
    <li>
      <%= project.title %>
    </li>
    <% end %>
  </ul>
<p>You have pledged a total amount of $<%= @user.pledges.map { |pledge| pledge.dollar_amount }.sum %></p>
<p>These are the projects you own:</p>
  <ul>
    <% @user.projects.each do |project| %>
    <li>
      <%= project.title %>
    </li>
    <% end %>
  </ul>
