
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center" >Create</h1>
    <p class="text-muted text-center" >Create your funding project, get your idea live</p>
      <%= render 'form' %>
  </div>
</div>
