<div class="row">

  <div class="col-md-6">
    <%= render 'project_info', project: @project , message: "You have not backed this project" , label: "warning", owner: false %>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-capitalize"><strong>Rewards</strong></h3>
      </div>
      <div class="panel-body">

        <% if @rewards.empty? %>
            <p>There are no rewards at the moment.</p>
        <% else %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Pledge Amount</th>
                <th scope="col">Reward</th>
              </tr>
            </thead>
            <tbody>
            <% @rewards.each do |reward| %>
              <tr>
                <td><%= number_to_currency(reward.dollar_amount) %></td>
                <td><%= reward.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>

</div>
