// Typography
$base-font-family: 'Libre Baskerville', Baskerville, serif;
$header-font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-bg: #F7F7F7;
$brand-primary: #837DB9;
