// Normalize.css resets base styles to a common default across browsers
// Read more: https://necolas.github.io/normalize.css/
// You can find this file in vendor/assets/stylesheets
@import 'normalize';

// Third-party stylesheets
@import "font-awesome-sprockets";
@import "font-awesome";

// Base styles
@import 'variables';
@import 'base';
@import 'layout';
@import 'forms';
@import 'typography';

@import "bootstrap-sprockets";
@import "bootstrap";

main {
    margin:110px 0 60px;
}

footer {
  background: #3A3B3F;
  padding: 60px 15px;
  overflow: hidden;
}

  footer div {
    float: left;
    padding: 0 15px;
  }

  footer .footer_banner {
    padding: 0!important;
    margin-bottom: 0;
    background: #3A3B3F;
    color: white;
  }

    .footer_banner p:first-child {
      font-size: 21px!important;
    }

    .footer_banner p {
      margin: 0;
      text-transform: capitalize;
      color: #707070;
      font-size: 14px!important;
    }

    p.footer_about {
      font-size: 14px;
      margin-bottom: 15px;
    }

    .footer_banner h1 {
      margin: 0;
      font-weight: 600!important;
      line-height: 0.8!important;
      margin-bottom: 30px;
    }

// Module styles
@import 'projects';
@import 'user_sessions';
