<div class="row">
  <div class="col-md-8">
    <div class="jumbotron login_banner">
      <h1>Need some funding?</h1>
      <p>
        Have a crazy brilliant idea that needs funding?
        We want to help you make it happen!
      </p>
      <p>
        <%= link_to "Sign up", new_user_path, class: "btn btn-default btn-lg" %>
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <h2>Lets Prepare!</h2>
    <p class="text-muted" >Start or backup projects</p>

    <%= render 'form' %>

  </div>
</div>
